DATABASE_TEST_URL="postgres://postgres@localhost/pgpubsub_test"
DATABASE_TEST_URL_INVALID_USER="postgres://foobar:pass@localhost/pgpubsub_test"
DATABASE_TEST_URL_INVALID_PASSWORD="postgres://postgres:invalidpass@localhost/pgpubsub_test"
